body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #34495e;
	color: #ecf0f1;
}

.title {
	font-size: 20px;
	font-weight: 500;
}

.url {
	color:#3498db;
}

#content {
	max-width: 1024px;
	margin: 10px auto;
	padding: 20px;
	background-color: #2c3e50;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centerize {
	text-align: center;
}

#canvas-container {
	border: 2px solid #fff;
	border-radius: 10px;
	margin-bottom: 20px;
}

button {
	padding: 10px 15px;
	font-size: 16px;
	border: none;
	border-radius: 30px;
	background-color: #3498db;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
	margin:10px 0px;
}

button:hover {
	background-color: #2980b9;
}
